@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <p>Add Employee</p>
        <form method="post">
            @helper.CSRF.formField
            <input type="text" name="firstName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="text" name="lastName">
            <input type="submit" value="Save">
        </form>
    </body>
</html>